body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: azure;
}
h1{
    color: #58a6ff;
}
/* attribution selector */
a{
    color: #8b949e;
    text-decoration: none;

}
a:hover{
    color: #1f6feb;
}
/* child selector */    
ul>li {
    font-weight: bold;
}
/* sibling selector */
h1+p{
    background-color: #161b22;
    padding: 10px;
    border-radius: 5px;
}
/*:hover pseudo-class */
ul li:hover{
    color: #4f8cc9;
}
/*:nth-child(n) pseudo-class */
ul li:nth-child(3){
    background-color: #21262d;
}
/* :not(selector) pseudo-class */
p:not(:first-of-type){
    text-decoration: underline;
}
p::first-letter{
    font-size: 200%;
    color: #ff7b72;
}